$white : #ffffff;
$lightBlue: #3f51b5;
$lightgray: #999999;
$red: #e81919;
$black: #333333;
$lightWhite: #efefef;
$lightWhite2: #cccccc;
$md-lightgray: #dddddd;
$gray: #6f7579;
$gray2: #707070;
$gray3: #666666;

