header {
    height: 100px;
    background-color: $lightBlue;

    &__logo {
        img {
            top: 30px;
            left: 40px;
            width: 205px;
            height: 40px;
            opacity: 1;
        }
    }
}