@import "base";


.header__inner {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;  
}

.header__nav {
    display: flex;
    align-items: center;  
}

.header__logo {
    margin-right: auto;
}

.header__links li a {
    position: relative;
}

.header__links li a.is-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
}